@import './variables.css';
@import './animations.css';

/* Global reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-black);
  height: 100vh;
  overflow: hidden;
}

#root,
.app {
  height: 100%;
}

.app.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HTML Elements */

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}
