.task-list-group-loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list-group-container {
  padding: 1rem 2.5rem;
  background-color: var(--color-white-2);
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.task-list-group-heading {
  color: var(--color-blue-primary);
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}
